/*!
 * Roots 6.5.0
 */


/* ==========================================================================
   Base
   ========================================================================== */

body {
   background-image:
}



a:hover {
  text-decoration: none;
  color: #FFF;
}

p {
  margin: 0 0 20px !important;
  font-family: "garamond-premier-pro";
  font-size: 16px;
}

hr {
  margin: 10px 0px;
}

h1 {
  font-family: "garamond-premier-pro";
  font-size: 46px;
  color: #444D4D;
  font-style: italic;
  text-align: center;
}

button {
  background-color: #59a9a6;
  font-size: 18px;
  font-family: "garamond-premier-pro";
  font-family: serif;
  font-style: italic;
  color: #063230;
  padding: 10px;
  font-weight: 700;
  border: none;
}

/* ==========================================================================
   Home Content
   ========================================================================== */

/*Home Memory View*/

.sidback {
   background-image: url("../img/sid-face-bg.jpg");
   background-position: right bottom;
   background-repeat: no-repeat;
   background-size: 115%;
   padding-bottom : 40%;
}

.memright {
  padding-top: 10%;
  text-align: center;
}

.membutt {
  padding-top: 5%;
}

.memory {
  text-align: center;
  background-image: url("../img/texture-behind-share-btn.png");
}

.memorybutton {
  background-color: #53aba7;
  font-size: 18px;
  font-family: serif;
  font-style: italic;
  color: rgba(0,0,0,0.8);
}














.homebio {
  margin: 0px 0;
  text-align: center;
}

.homebiophoto {
  margin: 0px 0 0 0;
}

.homeheader {
  font-family: "garamond-premier-pro" serif;
  font-size: 32px;
  font-style: italic;
  color: #444D4D;
  text-align: center;
}

.homeexcerpt {
  font-size: 14px;
  font-family: serif;
  color: rgba(0,0,0,0.8);
  padding: 10px 0 0;
}

.memoryhead .homeexcerpt {
  text-align: center;
}

.memoryhead {
  padding: 5% 10% 0;
}

.bioexcerpt {
  font-size: 14px;
  font-family: "garamond-premier-pro";
  font-family: serif;
  color: rgba(0,0,0,0.8);
  padding: 20px 0 0;
}

.keepreading {
  width: 100%;
  margin: 5% auto;
  text-align: center;
}

.button {
  background-color: #59a9a6;
  font-size: 18px;
  font-family: "garamond-premier-pro";
  font-family: serif;
  font-style: italic;
  color: #063230;
  padding: 10px;
  font-weight: 700;
  border: none;
}

.homealbumtitle {
  font-family: "garamond-premier-pro";
  font-size: 32px;
  font-style: italic;
  color: #444D4D;
  margin: 3% 0px;
  text-align: center;
}

.homealbumcover {

}

.homemp3container {

}

.homemp3cont {
  background-color: #444;
  font-family: serif;
  font-size: 18px;

}

.secondalbumimage {
  margin: 20px auto;
}

.mp3contlg {
  background-color: #777;
  display: block;
  padding: 2% 0;
}

.mp3contdg {
  background-color: #333;
  display: block;
  padding: 2% 0;

}

.mp3numb {
  color: #FFF;
  font-style: serif;
  float: left;
  margin: 0px 12px;
}

.mp3title {
  color: #FFF;
  font-style: serif;
  float: left;
}

.mp3play {
  text-align: right;
  margin: 0 12px 0 0;
}

.mp3play > a {
  color: #FFF !important;
  font-style: serif !important;
}




/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

.pagetitle {
  margin: 40px 0 10px;
  text-align: center;
  font-style: italic;
}

.credits {
   font-size: 10px;
   bottom: 0px;
   text-align: center;
   color: #FFF;
}

.credits > a {
  color: rgba(244,236,37,.9) !important;
  font-size: 10px;
}

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }

.masonblock {
  text-align: center;
  padding: 10px 1%;
 }

.masonthumb {
  width: 100%;
  height: auto;
}

.masoninfoblock {
  background-color: #FFF;
}

.masontitle {
  color: #42A39F;
  text-transform: uppercase;
  font-size: 24px;
  padding: 5px 0 0;
  font-family: "futura-pt-condensed";
  line-height: 25px;
}

.masonlocation {
  font-weight: 700;
  font-size: 16px;
  line-height: 15px;
  color: #000;
  text-transform: capitalize;
  padding: 5px 0;
}

.masondate{
  font-weight: 700;
  font-size: 16px;
  color: #989898;

}

.masoncaption {
  margin: 10px 15px;
  font-size: 15px;
  color: #7F7F7F;
  max-height: 175px;
  overflow: hidden;
  text-align: left;
}

.masonlink {
  text-align: right;
  padding: 0px 10px 0px 0px;
  background-color: #CCC93D;
  font-family: "futura-pt-condensed";
}

.masonlink > a {
    color: #FFF !important;
    font-size: 20px;
}

.masoninfoblock .masonlocation > a {
      color: #FFF !important;
      text-transform: capitalize;
}

.masonhr {
  padding: 0 7px;
}

.wpb_video_wrapper {
  width: 90%;
  height: auto;
  margin: auto;
}

.sidvidbanner {
  max-width: 100%;
  height: auto;
  margin: auto;
  padding: 20px 0 30px;
}

.sidvidcopy {
  margin: 20px 2% 0;
  font-family: "garamond-premier-pro";
  font-style: italic;
  font-size: 16px;
}

.fullbio{
  font-family: "garamond-premier-pro";
  font-size: 16px;
}

.addthis_sharing_toolbox {
  margin: 10px 0 0;
}


/* ==========================================================================
   Modal
   ========================================================================== */

.modal-body {

}

.modal-content > hr {
  margin: 0 0 10px !important;
}

.modal-title > h1 {
  color: #42A39F !important;
}

.modal-subtitle {
  text-align: center;
}

.modal-body {

}

.modal-footer {
  border-top: none !important;
  text-align: center !important;
  margin: 0px;
  padding: 10px 40px 20px;
}

.modal-copy {
  padding: 0 20px;
}

.modal-footer .button {
  padding: 10px 15px !important;
}

.wpt-form-textfield, .wpt-form-textarea {
  padding: 10px;
  margin: 10px auto;
  width: 100%;
  font-family: "garamond-premier-pro";
  font-size: 18px;
}

.wpt-form-select {
  font-family: "garamond-premier-pro";
  font-size: 18px;
  padding: 10px;
  float: left;
}

.wpt-form-file {
  font-family: "garamond-premier-pro";
  margin: auto;
  padding: 10px;
  font-size: 18px;
}

.wpt-credfile-delete  {
  background-color: #59A9A6;
  font-family: serif;
  font-style: italic;
  color: #063230;
  padding: 10px;
  margin: 0 0 0 10px !important;
  font-weight: 700;
  border: medium none;
  font-size: 18px;

}

/* ==========================================================================
   Store
   ========================================================================== */

.woocat {
  text-align: center;
}

.product-category {
  padding: 25px !important;
  }

/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
Side Navbar
========================================================================== */


.navbar {
  margin: 0px;
  z-index: 100;
}

.side-nav-wrapper {
   min-height: 100%;
   padding: 0 0 55px 0;
}

#menu-side-navigation {
  background-color: rgba(0, 0, 0, 0.9);
}

.navbar-collapse {
  background-image: url("../img/nav-tile-bg.jpg");
  min-width: 100%;
  z-index: 100;
  padding: 0px;
  max-height: inherit !important;
}

ul.nav li {
  background-color: transparent;
}

/*.navbar {
min-height: 40px;
width: 40px;
}*/

.navbar-inverse {
  border:none!important;
  background-image: url("../img/nav-tile-bg.jpg");
  width: 100%;
}

.navbar-toggle {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  margin: 3px 4px;
  padding: 9px 12px;
}

.navbar-toggle .icon-bar {
width: 17px;
}

.nav {
  margin: 20px;
}

.nav > li > a {
  color: #5F6060;
  text-align: center;
  text-transform: uppercase;
  z-index: 100;
  font-family: "futura-pt-condensed";
  font-size: 20px;
}

.nav > li.active > a {
  background-color: #53aba7;
  font-family: "futura-pt-condensed";
}

.nav-pills > li > a:hover, a:focus {
    font-family: "futura-pt-condensed";
    color: #F8F8F8 !important;
    background: none;
    z-index: 100;
}

.navlogo {
  display:none;

}

.navbar-brand {
  display: inherit;
}



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }

#social ul {margin:0px; padding:0px; list-style: none;}
#social li {margin:0px; padding: 0px list-style:none; display: block; float:left;}
#social li a {padding: 10px;}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

.main {
  float: none;
}

.container-fluid {
  padding-left: 175px;
}

.nopad {
  padding: 0px !important;
}

.sidenav {
   padding: 0px;
   float: left;
   width: 10% !important;
}

.navbar {
   min-height: 0px;
}

.navbar-default {
   height: 100%;
   width: 200px;
}

.nav > li > a {
    color: #83807A;
    padding: 0px;
}

.sidenavwrapper {
  padding: inherit;
}

#menu-side-navigation {
    background-color: initial;
}

.nav-pills > li > a:hover, a:focus  {
    background-color: inherit !important;
}

.navbar-collapse{
  min-width: 175px !important;
  z-index: 1;
  margin: 0px;
}

.navlogo {
   display: inherit;
   z-index: 100;
   width: 146px;
   height: 56px;
   margin: 20px auto;
}

.navbar-collapse.collapse {
    display: block !important;
    min-height: 100% !important;
    overflow: visible !important;
    padding-bottom: 0;
}

.navbar-default .navbar-nav>li>a {
font-size: 14px;
}

.navbar-brand {
  /*display:none;*/
}

/*.mainarea {
   float: left;
   width: 90% !important;
   padding: 0 0 0 15px !important;
}*/

.memoryhead {
  padding: 5% 10%;
}

.memoryhead .homeexcerpt {
  font-size: 24px !important;
}

.memorybutton {
  font-size: 22px;
}

.memorybutton > a:hover {
  background-color: #7DCECF !important;
  color:#FFF !important;
}

.button > a:hover {
  color: #FFF;
  background-color: #7dcecf;
}

.fullbio {
  font-family: serif;
  font-size: 16px;
}

.homeheader {
  font-size: 42px;
  line-height: 42px;
  padding: 30px 0 0 0;
}

.homeexcerpt {
  font-size: 20px;
}

.bioexcerpt {
  font-size: 28px;
  line-height: 42px;
}

.homealbumtitle {
  text-align: left;
  font-size: 42px;
}

.homealbumcover {
  width: 21% !important;
}

.homemp3container {
  margin: 0 1% 0 0;
}

.homemp3cont {
  margin: 0 3% 0 0;
}

.secondalbumimage {
  margin: inherit;
}

.mp3play > a:hover {
  color: rgba(225, 238, 47, 0.9) !important;
}

.masonthumb {

}

.masoninfoblock {

}


.masoninfoblock > a:hover {
  color: #42A39F;
}



.masontitle {

}

.masonlocation{

}

.masondate{

}

.masoncaption {

}

.masonlink {

}

.masonlink > a:hover {
  color: #428BCA !important;
}

.modal-dialog {
  margin: 15% auto;
  text-align: left !important;
}

.videomodal {

}

.photomodal {
  margin: 20px 0 0;
}

.modalcopy {

}

.memorymodal {

}

.js-wpt-field-items {
    margin: auto;
    width: 70%;
}

.wpt-form-file {

}

.sidvidcopy {
  margin: 20px 5% 0;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.sidvidbanner {
  padding: 50px 0px 30px;
}

.wpb_video_wrapper {
  width: 70%;
  height: auto;
  margin: auto;
}

/*.woocommerce ul.products li.product {
  margin: 0px 4% 2.992em;

}*/

.credits {
  padding: 0 0 10px 30px !important;
  width: 70% !important;
}

.credits > a {

}

.jsmasonry {
  margin: 30px !important;
}

footer {
   bottom: 0px;
   z-index: 110;
}

 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

.memory {
  padding: 8% 0;
}
.memorybutton {
  font-size: 24px;
}

.memoryhead {
  padding: 5% 28% 5%;
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


.memoryhead > .memory {
  padding: 8% 0 0;
}

.memorybutton {
  font-size: 32px;
}

 }

@media (min-width: 1400px) {
.memory {
  padding: 8% 12% 0 0;
}
}
