/*!
 * Roots 6.5.0
 */


/* ==========================================================================
   Base
   ========================================================================== */

body {
   background-image: 
    }



/* ==========================================================================
   Header
   ========================================================================== */

.banner { }




/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
Side Navbar
========================================================================== */

.side-nav-wrapper {
   min-height: 100%;
}

#menu-side-navigation {
  background-color: rgba(0, 0, 0, 0.9);
}

.navbar-collapse {
background-image: ('../assets/img/nav-tile-bg.jpg');
min-width: 100%;
z-index: 100;
padding: 0px;
margin: 0 -20px;
}

ul.nav li {
background-color: transparent;
}

/*.navbar {
min-height: 40px;
width: 40px;
}*/

.navbar-inverse {
background-color: transparent!important;
border:none!important;
}

.navbar-toggle .icon-bar {
width: 17px;
}

.nav > li > a {
    color: #83807A;
    font-family: headerfont; 
    font-size: 27px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
  z-index: 100;
}

.nav-pills > li > a:hover, a:focus {
    color: #9CF;
    background: none;
      z-index: 100;
}
.navbar-toggle {
background-color: rgba(0, 0, 0, 0.8);
z-index: 100;
float: left;
margin-left: -10px;
margin-top: -10px;
}

.navlogo {
  display:none;

}

   

/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }

#social ul {margin:0px; padding:0px; list-style: none;}
#social li {margin:0px; padding: 0px list-style:none; display: block; float:left;}
#social li a {padding: 10px;}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

.nopad {
   padding: 0px;
}

.navbar-default {
   height: 100%;
   width: 200px;
}

.nav > li > a {
    color: #83807A;
    padding: 0px;
}

#menu-side-navigation {
    background-color: initial;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background: none;
}

.navbar-collapse{
  min-width: 15% !important;
  z-index: 1;
  margin: 0px;
}

.navbar-collapse.collapse {
    display: block !important;
    min-height: 100% !important;
    overflow: visible !important;
    padding-bottom: 0;
}

.navlogo {
  display: inherit;
  height: 180px;
  width: 160px;
  margin-left: auto ;
  margin-right: auto ;
  z-index: -10;
}

.navbar-default .navbar-nav>li>a {
font-size: 14px;
}
.navbar-brand {display:none;}

p .credits {
   bottom: 0px;
}

footer {
   bottom: 0px;
}

 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

 }
