/*!
 * Roots 6.5.0
 */


/* ==========================================================================
   Base
   ========================================================================== */

.gradient {
  height: 100%;
  background: -moz-linear-gradient(top,  rgba(67,67,67,0) 38%, rgba(67,67,67,0.53) 55%, rgba(67,67,67,1) 70%, rgba(67,67,67,1) 99%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(38%,rgba(67,67,67,0)), color-stop(55%,rgba(67,67,67,0.53)), color-stop(70%,rgba(67,67,67,1)), color-stop(99%,rgba(67,67,67,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(67,67,67,0) 38%,rgba(67,67,67,0.53) 55%,rgba(67,67,67,1) 70%,rgba(67,67,67,1) 99%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(67,67,67,0) 38%,rgba(67,67,67,0.53) 55%,rgba(67,67,67,1) 70%,rgba(67,67,67,1) 99%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(67,67,67,0) 38%,rgba(67,67,67,0.53) 55%,rgba(67,67,67,1) 70%,rgba(67,67,67,1) 99%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(67,67,67,0) 38%,rgba(67,67,67,0.53) 55%,rgba(67,67,67,1) 70%,rgba(67,67,67,1) 99%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00434343', endColorstr='#434343',GradientType=0 ); /* IE6-9 */
}

a {transition: color .3s ease, background-color .3s ease;}

a:hover {
  text-decoration: none;
  color: #FFF;
  cursor:pointer;
}

p {
  margin: 0 0 23px !important;
  font-family: "garamond-premier-pro";
  font-size: 16px;
}

hr {
  margin: 10px 0px;
}

h1 {
  font-family: "garamond-premier-pro";
  font-size: 46px;
  color: #444D4D;
  font-style: italic;
  text-align: center;
}

h3 {
  font-family: "garamond-premier-pro";
  font-size: 26px;
  color: #444D4D;
  font-style: italic;
  text-align: center;
}

button {
  background-color: #59a9a6;
  font-family: "garamond-premier-pro";
  font-family: serif;
  font-style: italic;
  color: #063230;
  font-weight: 700;
  border: none;
}
.btn-warning {
  color: #eea236;
  background-color: transparent;
  font-size: 36px;
  padding: 0px;
  position: absolute;
  right: 10px;
  top: 0px;
  border: 0px solid;
  -webkit-transition:color .6s;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
  -webkit-transition:color .6s;
  color: #53aba7;
  background-color: transparent;
  border-color: transparent;
  border: 0px solid;
}
.product .entry-content .spv {
  background: #fff;
  padding: 15px;
}

.fa {
  line-height: 1.5 !important;
}

.spv {
margin: 0 5%;
}

/* ==========================================================================
   Home Content
   ========================================================================== */

/*Home Memory View*/

/*.sidback {
   background-image: url("../img/sid-face-bg.jpg");
   background-position: right top;
   background-repeat: no-repeat;
   background-size: 116%;
   padding-bottom : 30%;
}*/

body.home h1 {margin-top:20%;}

.homealbumtitle h1 {
text-align: left;
}

.vc_col-sm-6.col-xs-6.wpb_column.vc_column_container {
text-align: center;
}

a.button.keepreading {
background-color: #59a9a6;
font-size: 18px;
font-family: "garamond-premier-pro";
font-style: italic;
color: #063230;
padding: 10px;
background: #59a9a6;
text-shadow: none;
box-shadow: none;
font-weight: normal;
border-radius: 0;
border: none;
transition: background .3s ease;
width: 160px;
vertical-align: bottom;
display: inline-block;
float: left;
margin-top: 20%;
margin-left: 20px;
}

body.home h4 {
font-size: 12px;
text-align: center;
color: #949494;
margin-top: 0px;
}

.memright {
  padding-top: 10%;
  text-align: center;
}

.membutt {
  padding-top: 5%;
}

.memory {
  text-align: center;
  background-image: url("../img/texture-behind-share-btn.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 150px;
  padding: 40px;
}

.memorybutton {
  background-color: #53aba7;
  font-family: "garamond-premier-pro" serif;
  font-style: italic;
  padding: 10px;
  color: rgba(0,0,0,0.8);
  font-weight:normal!important;
  -webkit-box-shadow: 0 0 10px 5px rgba(255,255,255,.7);
  box-shadow: 0 0 10px 5px rgba(255,255,255,.7);
  transition:background-color .3s ease;
}

button.memorybutton.modal-link:hover, .memorybutton:hover {
  background-color: #8ADFDB;
}
.photourl img {
  width: 100%;
}
.wpt-form-submit.form-submit.submit {
  border-color: #eea236;
  display: block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  line-height: 1.428571429;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 auto;
  background-color: #59a9a6;
  font-size: 18px;
  font-family: "garamond-premier-pro";
  font-style: italic;
  color: #063230;
  padding: 10px;
  background: #59a9a6;
  text-shadow: none;
  box-shadow: none;
  font-weight: normal;
  border-radius: 0;
  border: none;
  transition: background .3s ease;
}
/*Home Bio View*/

.homebio {
  margin: -20px 0;
  text-align: center;
}

.homebiophoto {
  margin: 85px 0 0 0;
}

.homeheader {
  font-family: "garamond-premier-pro" serif;
  font-size: 32px;
  font-style: italic;
  color: #444D4D;
  text-align: center;
}

.homeexcerpt {
  font-size: 24px;
  font-family: "garamond-premier-pro";
  color: rgba(0,0,0,0.8);
  padding: 10px;
}

.memoryhead .homeexcerpt {
  text-align: center;
}

.memoryhead {
  padding: 5% 10% 0;
}

.bioexcerpt {
  font-size: 14px;
  font-family: "garamond-premier-pro";
  font-family: serif;
  color: rgba(0,0,0,0.8);
  padding: 20px 0 0;
}

.bio.row {
  margin-top: 50px;
}

.bioexcerpt p {
  font-size: 28px;
  margin: 0px 41px 0px 0px;
}

.bioexcerpt strong,
  .homeexcerpt strong {
  color: #42a39f;
  font-weight:normal!important;
}

.keepreading {
  width: 100%;
  margin: 5% auto;
  text-align: center;
}

.button, .keepreading a.button, .keepreading a {
  background-color: #59a9a6;
  font-size: 18px;
  font-family: "garamond-premier-pro";
  font-style: italic;
  color: #063230;
  padding: 10px;
  background: #59a9a6;
  text-shadow: none;
  box-shadow: none;
  font-weight: normal;
  border-radius: 0;
  border: none;
  transition:background .3s ease;
}

.button:hover, .keepreading a.button:hover, .keepreading a:hover {
  background: #8ADFDB;
}

.viewmore > h1 {
  text-align: left;
  float: left;
  display: block;
  clear: none;
}

.viewmore > a {
  float: left;
  display: block;
  clear: none;
}

.images {
height: 385px;
width: auto;

padding-bottom: 5%;
overflow: hidden;
}
span.amount {
color: #757575;
font-size: 16px;
font-style: normal;
text-decoration: none;
}

.feature {
  width: 18%;
  float: left;
  display: block;
  clear: none;
    border: 10px solid #FFF;
  -webkit-box-shadow: 0 0 10px 3px rgba(0,0,0,.3);
  box-shadow: 0 0 10px 3px rgba(0,0,0,.2);
  padding: 20px;
  background: #ffffff; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #dadada 100%)!important; /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#dadada))!important; /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#dadada 100%)!important; /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#dadada 100%)!important; /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#dadada 100%)!important; /* IE10+ */
  background: radial-gradient(ellipse at center,  #ffffff 0%,#dadada 100%)!important; /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dadada',GradientType=1 )!important; /* IE6-9 fallback on horizontal gradient */
  height:200px;
  margin: 5px;
}

.homealbumtitle {
  font-family: "garamond-premier-pro";
  font-size: 32px;
  font-style: italic;
  color: #444D4D;
  margin: 3% 0px;
  text-align: center;
}

.homealbum {
  margin-bottom: 50px;
}

.secondalbumimage {
  margin: 20px auto;
}

.mp3contlg {
  background-color: #777;
  display: block;
  background: url("../img/music-player-texture-tile-light.png");
}

.mp3contdg {
  background-color: #333;
  display: block;
  background: url("../img/music-player-texture-tile-dark.png");
}

.mp3contlg a:hover, .mp3contdg a:hover, a.sm2_playing {background: rgba(89,169,166,0.8);}
a.sm2_playing .fa-play:before {content:"\f04c";}

.mp3numb {
  color: #FFF;
  font-family: serif;
  font-size: 12px;
  float: left;
  margin:0px 10px 0px 10px;
}

.mp3title {
  color: #FFF;
  font-family: "garamond-premier-pro";
  font-size: 12px;
  float: left;
}

.mp3play {
  text-align: left;
  margin: 0 12px 0 0;
  display: block;
  width: 100%;
}

.mp3play > a {
  color: #FFF !important;
  font-family: serif!important;
  display: block;
  width: 100%;
  padding: 15px;
  height: 50px;
}

.mp3play > a .fa-play {float:left;}

/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

.pagetitle {
  margin: 40px 0 10px;
  text-align: center;
  font-style: italic;
}

.credits {
  font-size: 10px;
  bottom: 0px;
  text-align: center;
  color: #FFF;
}

.credits > a {
  color: rgba(244,236,37,.9) !important;
  font-size: 10px;
}

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }

.masonblock {
  text-align: center;
  padding: 10px 1%;
 }

.masonthumb {
  width: 100%;
  height: auto;
}

.masoninfoblock {
  background-color: #FFF;
  padding: 15px;
}

.masontitle {
  color: #42A39F;
  text-transform: uppercase;
  font-size: 24px;
  padding: 5px 0 0;
  font-family: "futura-pt-condensed";
  line-height: 25px;
}

.masonlocation {
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  color: #000;
  text-transform: capitalize;
  padding: 5px 0;
}

.masondate{
  font-weight: 700;
  font-size: 14px;
  color: #989898;

}

.masoncaption {
  font-size: 15px;
  color: #7F7F7F;
  max-height: 175px;
  overflow: hidden;
  text-align: left;
}

.masonlink {
  text-align: right;
  padding: 0px 10px 0px 0px;
  background-color: #f2ea29;
  font-family: "futura-pt-condensed";
  margin: 15px -15px -15px -15px;
}

.masonlink > a {
  color: #A08F18 !important;
  font-size: 20px;
}

.masoninfoblock .masonlocation > a {
  color: #FFF !important;
  text-transform: capitalize;
}

.masonhr {
  padding: 0 7px;
}

.wpb_video_wrapper {
  width: 90%;
  height: auto;
  margin: auto;
}

.sidvidbanner {
  max-width: 100%;
  height: auto;
  margin: auto;
  padding: 20px 0 30px;
}

.sidvidcopy {
  margin: 20px 2% 0;
  font-family: "garamond-premier-pro";
  font-size: 16px;
}

.fullbio p {
  font-size: 18px!important;
}

.addthis_sharing_toolbox {
  margin: 10px 0 0;
}

input#mc-embedded-subscribe {
font-size: 100%;
margin: 0;
line-height: 1em;
cursor: pointer;
position: relative;
font-family: inherit;
text-decoration: none;
overflow: visible;
padding: 6px 10px;
font-weight: normal;
-webkit-border-radius: 0;
border-radius: 0;
left: auto;
text-shadow: none;
color: #5e5e5e;
text-shadow: none!Important;
border: none;
background: #44a196;
white-space: nowrap;
display: inline-block;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
font-family: "garamond-premier-pro";
}

input#mc-embedded-subscribe:hover {
background: #4CC9BA;
}

.woocommerce-tabs {
display: none;
}

section#respond {
display: none;
}

.singlehead {
  background-image: url("../img/store-header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  height: auto;
}

.profo {
  text-align: center;
}

.fopro {
  text-align: center;
}

/* ==========================================================================
   Modal
   ========================================================================== */

.modal-header .close {
  margin-top: -2px;
  font-style: normal;
}

.modal-header {
  border-bottom: none;
}

.modal-content > hr {
  margin: 0 0 10px !important;
}

.modal-title > h1 {
  color: #42A39F !important;
}

.modal-subtitle {
  text-align: center;
}

.modal-body {
position: relative;
padding: 20px;
}

.modal-body img {width:100%;}

.modal-footer {
  border-top: none !important;
  text-align: center !important;
  margin: 0px;
  padding: 10px 40px 20px;
}

.modal-copy {
  padding: 0 20px;
}

.modal-footer .button {
  padding: 10px 15px !important;
}

.wpt-form-textfield, .wpt-form-textarea {
  padding: 10px;
  margin: 10px auto;
  width: 100%;
  font-family: "garamond-premier-pro";
  font-size: 18px;
}

.wpt-form-select {
  font-family: "garamond-premier-pro";
  font-size: 18px;
  padding: 10px;
  float: left;
}

.wpt-form-file {
  font-family: "garamond-premier-pro";
  margin: auto;
  padding: 10px;
  font-size: 18px;
}

.wpt-credfile-delete  {
  background-color: #59A9A6;
  font-family: serif;
  font-style: italic;
  color: #063230;
  padding: 10px;
  margin: 0 0 0 10px !important;
  font-weight: 700;
  border: medium none;
  font-size: 18px;

}

.masontitle a {
color: #53aba7!important;
text-decoration: none;
transition:color .3s ease;
}

.masontitle a:hover {
color: #69CAC6!important;
text-decoration: none;
}

.btn-warning {
color: #D6D6D6;
}

/* ==========================================================================
   Store
   ========================================================================== */

.woocat {
  text-align: center;
}

.product-category {
  padding: 25px !important;
}

.woocat-info {
min-height: 220px;
}

.woopost {
  padding: 20px;
}

.woocatname h3 {
  color: #44a196;
  font-size: 28px;
  font-weight: 100;
}

.woocatdesc h4 {
  font-family: "garamond-premier-pro";
  font-size: 20px;
  color: #303030;
}

.woocatsubdesc p {
  color: #757575;
}

.woocatimage {
  border: 10px solid #FFF;
  -webkit-box-shadow: 0 0 10px 3px rgba(0,0,0,.3);
  box-shadow: 0 0 10px 3px rgba(0,0,0,.2);
  padding: 5% 20%;
  background: #ffffff; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #dadada 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#dadada)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#dadada 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#dadada 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#dadada 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #ffffff 0%,#dadada 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dadada',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.woocatimage .images {
/*padding-bottom: 125%;*/
}
.woocatimage > a > img {
  height: 100%;
  width: auto;
}

.img-container.imgLiquid_bgSize.imgLiquid_ready {
  width: 100%;
  padding-bottom: 85%;
}

.white {
background: #FFF;
padding: 10px;
}

span.amount {
color: #232323;
font-size: 20px;
font-style: normal;
}

.white {
background: #FFF;
padding: 10px;
}

h2.prod-title {
color: #42a39f;
font-size: 26px;
font-family: "garamond-premier-pro";
font-style: italic;
text-align: center;
}

span.amount {
color: #232323;
font-size: 20px;
font-style: normal;
}

.product-thumb p {
color: #868686;
}
.product-thumb a {
background-color: #42a39f;
color: #FFF;
padding: 10px;
display: block;
text-align: right;
transition:background .3s ease;
}

.product-thumb a:hover {background:#8ADFDB;}

body.single-product header {
display: none;
}

.woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page #content input.button.alt {
background: #53aba7;
border: none!important;
color: #feffff;
text-shadow: none!important;
border-radius: 0!important;
margin-top:10px;
}

.woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce #content input.button.alt:hover, .woocommerce-page a.button.alt:hover, .woocommerce-page button.button.alt:hover, .woocommerce-page input.button.alt:hover, .woocommerce-page #respond input#submit.alt:hover, .woocommerce-page #content input.button.alt:hover {
background: #8ADFDB;
text-shadow: none;
}

.prod-info-top h3 {
text-align: left;
}

.prod-info-top {
margin-bottom: 20px;
padding-bottom: 20px;
border-bottom: 1px solid #CCC;
}

.woocommerce img, .woocommerce-page img {
height: auto;
width: 100%;
}

img.attachment-medium.wp-post-image {
height: auto;
width: 100%;
}

div#tab-description {
font-family: "garamond-premier-pro";
font-size:14px;
}

.entry-content h2 {
font-family: "garamond-premier-pro";
font-size: 26px;
color: #444D4D;
font-style: italic;
text-align: left;
}

div#mc_embed_signup {
background: #FFF;
padding: 10px;
color: #757575;
}

#mc_embed_signup p {
color: #757575;
}

input#mce-EMAIL {
border: 1px solid #ECECEC;
padding: 5px;
width: 100%;
margin-bottom: 5px;
}

.singlehead {
  background-image: url("../img/store-header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  height: auto;
}

.profo {
  text-align: center;
}

.fopro {
  text-align: center;
}

.specs > p {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

/* ==========================================================================
Contact Page
========================================================================== */

div#frm_form_8_container {
  margin: 0 auto;
  width: 90%;
}

.contactus {
  text-align: center;
}

.contactname {
  width: 100% !important;
}

::-webkit-input-placeholder {
  font-family: "garamond-premier-pro";
  font-size: 14px;
}
:-moz-placeholder { /* Firefox 18- */
  font-family: "garamond-premier-pro";
  font-size: 14px;
}

::-moz-placeholder {  /* Firefox 19+ */
  font-family: "garamond-premier-pro";
  font-size: 14px;
}
:-ms-input-placeholder {
  font-family: "garamond-premier-pro";
  font-size: 14px;
}

p.condor {
  text-align: left;
  margin: 0px;
}

.conbutt {
  background-color: #53aba7;
  font-family: "garamond-premier-pro" serif;
  font-style: italic;
  padding: 4px 20px;
  color: rgba(0,0,0,0.8);
  font-weight: normal!important;
  -webkit-box-shadow: 0 0 10px 5px rgba(255,255,255,.7);
  box-shadow: 0 0 10px 5px rgba(255,255,255,.7);
  transition: background-color .3s ease;
  font-size: 17px;
}

.conbutt:hover {
  background: #8ADFDB;
}

input.contact, textarea.contact {
padding: 10px!important;
}

/* ==========================================================================
Side Navbar
========================================================================== */
.socials {
  margin-top: -10px;
}

.social {
  padding: 10px;
}

.social > i {
  color: #5F6060;
  z-index: 100;
  font-size: 27px;
}

.face {
  text-align: right;
  margin-right: -2px;
}

.tube {
  text-align: left;
  margin-left: -2px;
}

.social > i:hover {
  color: #F8F8F8 !important;
  background: none;
  z-index: 100;
}

.sidemems {
  padding-top: 10px;
  text-align: center;
}

.sidemem > a {
  color: #f2ea29;
  z-index: 100;
  font-size: 20px;
  font-family: "futura-pt-condensed";
}

.sidemem > a:hover {
  color: #F8F8F8 !important;
  background: none;
  z-index: 100;
}

.navbar {
  margin: 0px;
  z-index: 100;
}

.side-nav-wrapper {
   min-height: 100%;
   padding: 0 0 55px 0;
}

#menu-side-navigation {
  background-color: rgba(0, 0, 0, 0.9);
}

.navbar-collapse {
  background-image: url("../img/nav-tile-bg.jpg");
  min-width: 100%;
  z-index: 100;
  padding: 0px;
  max-height: inherit !important;
}

ul.nav li {
  background-color: transparent;
}

/*.navbar {
min-height: 40px;
width: 40px;
}*/

.navbar-inverse {
  border:none !important;
  background-image: url("../img/nav-tile-bg.jpg");
  width: 100%;
}

.navbar-toggle {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  margin: 3px 4px;
  padding: 9px 12px;
}

.navbar-toggle .icon-bar {
width: 17px;
}

.nav {
  margin: 20px;
}

.nav > li > a {
  color: #656665;
  text-align: center;
  text-transform: uppercase;
  z-index: 100;
  font-family: "futura-pt-condensed";
  font-size: 20px;
  padding: 2px 15px;
}

.nav > li.active > a {
  color: white;
  background-color: transparent;
  font-family: "futura-pt-condensed";
}

.nav > li.active > a:hover {
  background-color: transparent;
}

.nav-pills > li > a:hover {
  font-family: "futura-pt-condensed";
  color: #f8f8f8 !important;
  background: none;
  z-index: 100;
}

.social a i {
font-size: 30px;
color: #656665;
text-transform: uppercase;
transition:color .3s ease;
}

.social a i:hover {
font-size: 30px;
color: #FFF;
text-transform: uppercase;
}

.navlogo {
  display:none;

}

.navbar-brand {
  display: inherit;
}

.dropdown-menu {
position: inherit;
padding: 10px 0;
font-size: 20px;
background-color: transparent;
border: none;
color: #656665;
text-align: left;
text-transform: uppercase;
font-family: "futura-pt-condensed";
margin-left: -14px;
float:none;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
background-color: transparent;
border-color: none;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
text-decoration: none;
color: #FFF;
background-color: transparent;
}

ul.nav li {
background-color: transparent;
text-align: center;
}

.dropdown-menu>li>a {
display: block;
padding: 3px 20px;
clear: both;
font-weight: normal;
line-height: 1.428571429;
color: #656665;
white-space: nowrap;
}

a.button.keepreading.hear-more {
margin: 0!important;
}

/* Delete to show Related Products heading */
.rel-prod {
display: none;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
background-color: transparent;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
color: #fff;
background-color: transparent;
}

/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }

#social ul {margin:0px; padding:0px; list-style: none;}
#social li {margin:0px; padding: 0px list-style:none; display: block; float:left;}
#social li a {padding: 10px;}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

@media (min-width:350px) {

.mp3title {
  font-size: 15px !important;
}

.mp3numb {
  font-size: 15px !important;
}
}

@media (min-width:400px) {

.mp3title {
  font-size: 18px !important;
}

.mp3numb {
  font-size: 18px !important;
}
}

@media (max-width:767px) {

body.single .images, body.single-product .images {
padding-bottom: 0;
}

.nav > li > a {
font-size: 30px;
}

.feature {
border: 3px solid #FFF;
padding: 0px;
height: auto;
max-height: 120px;
margin: 5px;
overflow: hidden;
}

a.button.keepreading {margin-top:10px;margin-bottom:10px;text-align:center;}


.memorybutton {
font-size: 16px;
}


.bio.row {
margin-top: 0px;
}

.vc_custom_1410467072371 {
margin-top: 0px;
margin-bottom: 0px;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

.bioexcerpt p {
font-size: 24px;
padding-bottom: 2%;
}


body.home h1 {
font-size: 32px;
margin-top:20%;
}

body.home .vc_col-sm-6.col-xs-6.wpb_column.vc_column_container {
text-align: center;
}

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

.feature {
border: 3px solid #FFF;
padding: 0px;
height: auto;
max-height: 120px;
margin: 5px;
overflow: hidden;
}

.mp3title {
  font-size: 16px !important;
}

.mp3numb {
  font-size: 16px !important;
}

.vc_custom_1410467072371 {
margin-top: 0px;
margin-bottom: 0px;
padding-top: 0px;
padding-right: 50px;
padding-bottom: 0px;
padding-left: 50px;
}

div#frm_form_8_container {
  width: 30%;
}

.main {
  float: none;
}

.container-fluid {
  padding-left: 175px;
}

.nopad {
  padding: 0px !important;
}

.sidenav {
   padding: 0px;
   position:fixed;
   width: 10% !important;
   height:100%;
}

.navbar {
   min-height: 0px;
}

.navbar-default {
   height: 100%;
   width: 200px;
}

/*.nav > li > a {
    color: #f8f8f8;
    padding: 0px;
}*/

.sidenavwrapper {
  padding: inherit;
}

.navbar-collapse{
  min-width: 175px !important;
  z-index: 1;
  margin: 0px;
}

.navlogo {
   display: inherit;
   z-index: 100;
   width: 146px;
   height: 56px;
   margin: 20px auto;
}

.navbar-collapse.collapse {
    display: block !important;
    min-height: 100% !important;
    overflow: visible !important;
    padding-bottom: 0;
}

.navbar-default .navbar-nav>li>a {
font-size: 14px;
}

.navbar-brand {
  /*display:none;*/
}

/*.mainarea {
   float: left;
   width: 90% !important;
   padding: 0 0 0 15px !important;
}*/

.memoryhead {
  padding: 5% 10%;
}

.memoryhead .homeexcerpt {
  font-size: 24px !important;
}

.memorybutton {
  font-size: 22px;
}

.memorybutton > a:hover {
  background-color: #7DCECF !important;
  color:#FFF !important;
}

.button > a:hover {
  color: #FFF;
  background-color: #7dcecf;
}

.fullbio {
  font-family: "garamond-premier-pro";
  font-size: 16px;
}

.homeheader {
  font-size: 42px;
  line-height: 42px;
  padding: 30px 0 0 0;
}

.homeexcerpt {
  font-size: 20px;
}

.bioexcerpt {
  font-size: 28px;
  line-height: 42px;
}

.homealbumtitle {
  text-align: left;
  font-size: 42px;
}

.homealbumcover {
  height: 100% !important;
}

.homemp3container {
  font-family: "garamond-premier-pro";
  font-size: 12px;
  margin: 0 0 0 0;
}

.secondalbumimage {
  margin: inherit;
}

.mp3play > a:hover {
  color: rgba(225, 238, 47, 0.9) !important;
}

.mp3play > a {
  color: #FFF !important;
  font-family: serif!important;
  display: block;
  width: 100%;
  padding: 6.25%;
  height: 0px;
}

.masonthumb {

}

.masoninfoblock {

}


.masoninfoblock > a:hover {
  color: #42A39F;
}



.masontitle {

}

.masonlocation{

}

.masondate{

}

.masoncaption {

}

.masonlink {

}

.masonlink > a:hover {
  color: #726E09 !important;
}

.modal-dialog {
  margin: 5% auto!important;
  text-align: left !important;
}

.videomodal {

}

.photomodal {
  margin: 20px 0 0;
}

.modalcopy {

}

.memorymodal {

}

.js-wpt-field-items {
    margin: auto;
    width: 70%;
}

.wpt-form-file {

}

.sidvidcopy {
  margin: 20px 5% 0;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.sidvidbanner {
  padding: 50px 0px 30px;
}

.wpb_video_wrapper {
  width: 70%;
  height: auto;
  margin: auto;
}

/*.woocommerce ul.products li.product {
  margin: 0px 4% 2.992em;

}*/

.credits {
  padding: 0 0 10px 30px !important;
  width: 70% !important;
}

.credits > a {

}

.jsmasonry, .content-container {
  margin: 30px 15px 30px 30px !important;
}

footer {
  bottom: 0px;
  z-index: 110;
}

div#frm_form_8_container {
  width: 60%;
}

.sidhomealbum {
  margin: 0 -15px 0 0;
}

.mp3title {
  font-size: 12px !important;
}

.mp3numb {
  font-size: 12px !important;
}

.fa {
  line-height: 0.5 !important;
}

.mp3play {
  line-height: 0.5 !important;
}

.prod-title {
  text-align: left !important;
}

.profo {
  text-align: left !important;
}

.fopro {
  text-align: right;
}

.quantity.buttons_added {
/* text-align: left; */
margin-left: 0;
}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

.feature {
border: 10px solid #FFF;
padding: 0px;
height: auto;
max-height: 120px;
margin: 5px;
overflow: hidden;
}

.memory {
  padding: 8% 0;
}
.memorybutton {
  font-size: 24px;
}

.memoryhead {
  padding: 5% 28% 5%;
 }

 div#frm_form_8_container {
  width: 60%;
}

.mp3title {
  font-size: 18px !important;
}

.mp3numb {
  font-size: 18px !important;
}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

.feature {
width: 18%;
float: left;
display: block;
clear: none;
border: 10px solid #FFF;
padding: 20px;
max-height: 200px;
margin: 5px;
overflow:hidden;
}

.spv {
margin: 0 5%;
}

.memoryhead > .memory {
  padding: 8% 0 0;
}

.memorybutton {
  font-size: 32px;
}

div#frm_form_8_container {
  width: 30%;
}

.mp3title {
  font-size: 21px !important;
}

.mp3numb {
  font-size: 21px !important;
}
}

@media (min-width: 1400px) {
.memory {
  padding: 8% 12% 0 0;
}

div#frm_form_8_container {
width: 30%;
}

.homebiophoto {
  margin: 30px 0 0 0;
}
}

@media (min-width: 1600px) {
.homie {
  margin-top: 25px;
}
}

@media (min-width: 1800px) {
.homie {
  margin-top: 50px;
}
}
